/* ---------- VARIABLES ---------- */
:root {
    --color-primary: rgb(126, 87, 194);
    --color-primary-dark: rgb(94, 53, 177);
    --color-secondary-pink: rgb(252, 228, 236);
    --color-secondary-blue: rgb(224, 247, 250);
    --color-text-main: rgb(51, 51, 51);
    --color-text-secondary: rgb(102, 102, 102);
    --color-bg-container: rgb(255, 255, 255);

    /* Acentos florales */
    --accent-pink: rgb(255, 105, 180);
    --accent-purple: rgb(186, 104, 200);
    --accent-blue: rgb(100, 181, 246);
}

/* ---------- NAV CSS---------- */
.nv {
    width: 600px;
    align-content: center;
}

/* ---------- UNORDER LIST CSS ---------- */
.lst li {
    display: inline;
    padding: 20px;
    background-color: var(--accent-blue);
    margin-right: 10px;
    border-radius: 40px;
}

.li-link {
    text-decoration: none;
}

.h-li {
    transition: background-color 0.5s ease;
}

.h-li:hover {
    background-color: aliceblue;
    transition: color aliceblue;
}