/*---------- Variables ----------*/
:root{
    --background-profileCard: rgb(184, 30, 94, 0.6);
    --background-inputStyle: rgb(110, 173, 168);
    --background-buttonMessage: rgb(74, 241, 186);
    --color-inputStyle: white;
}

.profileContainer {
    display: block;
}

.frontSide {
    background-color: var(--background-profileCard);
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: center;
    justify-items: start;
    margin: 20px;
    flex-grow: 1;
    min-width: 15rem;
    max-width: 25rem;
    /* TODO: cambiar la altura de este componente */
}

.backSide {
    /* ----- Template ----- */
    background-color: var(--background-profileCard);
    border-radius: 20px;
    min-width: 15rem;
    max-width: 25rem;    
    margin: 20px;
}