/*---------- Variables ----------*/
:root{
    --background-profileCard: rgb(185, 250, 247);
    --background-inputStyle: rgb(110, 173, 168);
    --color-inputStyle: white;
}
/* ---------- Container CSS ---------- */
.profileContainer {
    background-color: var(--background-profileCard);
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: center;
    justify-items: start;
    margin: 20px;
    flex-grow: 1;
    min-width: 15rem;
    max-width: 25rem;
}
/* ---------- Photo container CSS ----------*/
.containerPhoto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px;
}
/* ---------- Textarea and mesage Button ----------*/
.textareaDescription {
    display: flex;
    flex-direction: column;
}
/* ---------- Inputs CSS ---------- */
.inputData{
    border-radius: 5px;
    border: none;
    height: 20px;
    margin: 2px;
    background-color: var(--background-inputStyle);
    color: var(--color-inputStyle);
    text-align: center;
}
/*----- Age input CSS -----*/
.age{
    width: 4rem;
    
}
.description {
    resize: none;
    border-radius: 5px;
    border: none;
    margin: 2px;
    background-color: var(--background-inputStyle);
    color: var(--color-inputStyle);
}