/*---------- Variables ----------*/
:root{
    --background-profileCard: rgb(184, 30, 94, 0.6);
    --background-inputStyle: rgb(110, 173, 168);
    --background-buttonMessage: rgb(74, 241, 186);
    --color-inputStyle: white;
}

.profileContainer {
    display: block;
}
/* ---------- FRONT SIDE ---------- */
.frontSide {
    background-color: var(--background-profileCard);
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: center;
    justify-items: start;
    margin: 20px;
    flex-grow: 1;
    min-width: 15rem;
    max-width: 25rem;
    /* TODO: cambiar la altura de este componente */
}

/* ---------- Textarea and mesage Button ----------*/
.textareaDescription {
    margin:10px;
    display: flex;
    flex-direction: column;
    width: 95%;
    /* Grid position: */
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
}

/* ----- Description style ----- */
.description {
    resize: none;
    border-radius: 5px 5px 0px 0px;
    border: none;
    margin: 2px;
    background-color: var(--background-inputStyle);
    color: var(--color-inputStyle);
}

/* ----- Message Button ----- */
.messageButton{
    border-radius: 0px 0px 13px 13px;
    border: none;
    background-color: var(--background-buttonMessage);
    height: 25px;
}

/* ---------- BACK SIDE ---------- */
.backSide {
    /* ----- Template ----- */
    background-color: var(--background-profileCard);
    border-radius: 20px;
    min-width: 15rem;
    max-width: 25rem;    
    margin: 20px;
}