/* ---------- Principal Container CSS ---------- */
.principalContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: stretch;
    justify-content: space-evenly;
}
.buttonUsersLoader {
    margin: 10px;
}
/* ---------- Users Container CSS ---------- */
.usersContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}