/*---------- Variables ----------*/
:root{
    --background-profileCard: rgb(184, 30, 94, 0.6);;
    --background-inputStyle: rgb(110, 173, 168);
    --background-buttonMessage: rgb(74, 241, 186);
    --color-inputStyle: white;
}

/* ---------- Photo container CSS ----------*/
div.containerPhotoAge{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px;
    /* Grid position: */
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

/*----- Age input CSS -----*/
.age{
    width: 2rem;
}

.inputData{
    border-radius: 5px;
    border: none;
    height: 20px;
    margin: 2px;
    background-color: var(--background-inputStyle);
    color: var(--color-inputStyle);
    text-align: center;
}


input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
}
