/* ---------- Container of the component CSS ---------- */
.registrerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(https://marketplace.canva.com/EAE_LfKw720/1/0/1600w/canva-fondo-de-pantalla-degradado-rosa-y-azul-dibujo-constelaci%C3%B3n-ALs0nk1iKfU.jpg) no-repeat center fixed;
    background-size: cover;
    height: 100vh;
}
