/* ---------- Container ---------- */
div.msg-cntr {
    margin-top: 2px;
    background-color: blue;
    border-radius: 0px 0px 20px 20px;
}


div.wallpaper {
    background: url("https://img.freepik.com/premium-vector/bubble-text-vector-seamless-pattern_547110-1100.jpg?semt=ais_hybrid") center;
    background-size: cover;
}


textarea.msg-inpt {
    width: 89%;
    height: 25px;
    background-color: aqua;
    border-radius: 0px 0px 0px 20px;
}

button.snd-bttn {
    background: url("./../../assets/icons/snd-msg.png") center;
    background-color: aqua;
    background-size: cover;
    height: 34px;
    width: 34px;
    border-radius: 0px 0px 20px 0px;
}

.myMessage {
    display: inline-block;
    background-color: violet;
}